body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 245px;
    background-color: white;
}

.left-blue, .right-blue {
    background-color: #3ba6dc; 
    width: 35%;
    height: 100%;
}



.header nav a {
    color: rgb(0, 0, 0);
    margin: 0 10px;
    text-decoration: none;
    align-items: center;
}

.user-avatar {
    width: 100px;
    border-radius: 50%;
}

nav h1 {
    margin: 10px 0;
    font-size: 1.5rem;
}

nav a {
    color: black;
    margin: 5px 0;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
}

.redes-sociales a {
    margin: 0 20px;
}

footer {
    background-color: #2870c3;
    color: white;
    padding: 10px;
}

li::before {
    list-style-type: 'none';
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(./Images/webicon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}

ul {
    list-style-type: '';
}

.red {
    color: rgb(43, 107, 156);
}

.app::before {
    list-style-type: 'none';
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(./Images/Apps.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}
